{% extends 'base.html.twig' %}

{% block title %}Рофлолига - Профиль!{% endblock %}

{% block body %}

    {{ include('header.html.twig') }}

    <div class="container" {{ stimulus_controller('profile') }}>
        <div class="d-flex flex-row mt-3 mb-4">
            <img height="128" width="128" class="rounded-circle" src="https://avatars.dicebear.com/api/personas/{{ user.username }}.svg">
            <div class="d-flex flex-column">
                <span class="text-black h2 ms-2">{{ user.username }}</span>
                <div class="d-flex flex-row">
                    {% for badge in user.badges %}
                        <span class="badge rounded-pill ms-2"
                              style="background-color: {{ badge.hexCode }}"
                              data-bs-toggle="tooltip"
                              data-bs-placement="bottom"
                              data-bs-title="{{ badge.text }}"
                        >
                                {{ badge.name }}
                            </span>
                    {% endfor %}
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex flex-row align-items-center p-3 pe-0 pt-1 rounded-3">
            <div class="d-flex flex-column">
                <span class="fw-light fs-3">Позиция в топе</span>
                <span class="fw-light fs-2">#{{ position }}</span>
            </div>
            <div class="d-flex flex-column ms-md-5 ms-3">
                <span class="fw-light fs-3">Рейтинг</span>
                <span class="fw-light fs-2">{{ user.rating }}</span>
            </div>
        </div>
    </div>

    {{ include('footer.html.twig') }}

{% endblock %}
