{% extends 'base.html.twig' %}

{% block title %}Турнир {{ tourney.name }}{% endblock %}

{% block body %}

    {{ include('header.html.twig') }}

    <div class="container">
        <div class="accordion-header mb-3">
            <span class="h3">{{ tourney.name }}</span>
            <a class="link-dark text-decoration-none"
               href="https://challonge.com/{{ tourney.challongeUrl }}">{{ tourney.challongeUrl }}</a>
        </div>
        <div id="matches">
            <span class="h4 mb-2">Ближайшие матчи</span>
            <div class="row row-cols-md-3 row-cols-1">
                {% for odd in odds %}
                    <div class="match-object col d-flex flex-column">
                        <div class="inner-container bg-light rounded m-2">
                            <div class="d-flex flex-md-row flex-column justify-content-md-between align-items-center">
                                <div class="first-user d-flex flex-column m-3 mb-0" id="{{ odd.firstPlayer.id }}">
                                    <div class="d-flex flex-row align-items-center">
                                        {{ include('_avatar.html.twig', { name: odd.firstPlayer.username, width: 32, height: 32}) }}
                                        <a class="fw-bold text-decoration-none text-dark"
                                           href="{{ path('app_concrete_profile', { id: odd.firstPlayer.id}) }}">
                                            {{ odd.firstPlayer.username }}
                                        </a>
                                    </div>
                                </div>
                                <div class="second-user d-flex flex-column m-3 mb-0" id="{{ odd.secondPlayer.id }}">
                                    <div class="d-flex flex-row align-items-center">
                                        {{ include('_avatar.html.twig', { name: odd.secondPlayer.username, width: 32, height: 32}) }}
                                        <a class="fw-bold text-decoration-none text-dark"
                                           href="{{ path('app_concrete_profile', { id: odd.secondPlayer.id}) }}">
                                            {{ odd.secondPlayer.username }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="d-flex flex-row justify-content-around mb-3">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <button class="btn btn-outline-success">{{ odd.odds.homeOdds }}</button>
                                    <button class="btn btn-outline-info">Случайно</button>
                                    <button class="btn btn-outline-danger">{{ odd.odds.awayOdds }}</button>
                                {% else %}
                                    <span>{{ odd.odds.homeOdds }}</span>
                                    <span>{{ odd.odds.awayOdds }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="standings">
            <span class="h4 mb-2">Сетка</span>
            <iframe src="https://challonge.com/{{ tourney.challongeUrl }}/module?theme=2&show_final_results=1&show_standings=1"
                    width="100%" height="800" scrolling="auto" allowtransparency="true">
            </iframe>
        </div>
    </div>

    {{ include('footer.html.twig') }}

{% endblock %}