{% extends 'base.html.twig' %}

{% block title %}Участники турнира {{ tourney.name }}{% endblock %}

{% block body %}

    {{ include('header.html.twig') }}

    <div class="container" {{ stimulus_controller('tourney-participants', {
        'removeUrl': path('app_tourney_user_remove', { id: tourney.id }),
    }) }}>
        <div class="d-flex flex-column justify-content-center text-center">
            <p class="h2 mb-3">Участники турнира "{{ tourney.name }}" <span id="participants-count">({{ tourney.participants|length }})</span></p>
            <form action="{{ path('app_tourney_participants_add', { id: tourney.id }) }}" class="mb-2">
                <button class="btn btn-outline-primary w-100">Добавить участников</button>
            </form>
            <form action="{{ path('app_tourneys') }}">
                <button class="btn btn-outline-secondary w-100">Назад</button>
            </form>
        </div>
        <hr>
        <div id="users-container">
            {% for user in tourney.participants %}
                <div class="user-object">
                    <div class="row d-flex align-items-center justify-content-between row-cols-md-2 row-cols-1">
                        <div class="d-flex flex-row col">
                            {{ include('_avatar.html.twig', { 'name': user.username, 'width': 64, 'height': 64 }) }}
                            <span class="h2 ms-3">{{ user.username }}</span>
                        </div>
                        <div class="col d-flex flex-row justify-content-end">
                            <button class="btn btn-danger" value="{{ user.id }}" data-action="tourney-participants#removeUser">Удалить</button>
                        </div>
                    </div>
                    <hr>
                </div>
            {% endfor %}
        </div>
    </div>

    {{ include('footer.html.twig') }}

{% endblock %}